* {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 100%;
    /* color palette taken from https://99designs.com/profiles/martislupus/designs/247401 */
    --light-fgcolor: #303030;
    --light-bgcolor: #fdfdfd;
    --prim-fgcolor: #101010;
    --prim-bgcolor: #fbcbc9;
    --sec-fgcolor: #dedede;
    --sec-bgcolor: #be1558;
    --tert-fgcolor: #dedede;
    --tert-bgcolor: #e75874;
    --dark-fgcolor: #dedede;
    --dark-bgcolor: #322514;
    --link-color: dodgerblue;
    --shadow-color: #777777;
    --border-color: #ff00ff;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    width: 0;
}
header {
    padding: 20px 10px;
    position: fixed;
    top: 0;
    display: flex;
    width: calc(100% - 20px);
    color: var(--sec-fgcolor);
    background-color: var(--sec-bgcolor);
    box-shadow: 0.5px 0.5px 2px 0px var(--dark-bgcolor);
}
footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    display: flex;
    width: calc(100% - 20px);
    height: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: var(--dark-fgcolor);
    background-color: var(--dark-bgcolor);
}
a {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}
p.message {
    margin: 10px auto;
    padding: 10px;
    width: calc(100% - 20px);
    white-space: pre-wrap;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 0px var(--shadow-color);
}
button {
    margin: 10px auto;
    padding: 10px 20px;
    width: calc(70% - 40px);
    border: 0px;
    border-radius: 10px;
    color: var(--sec-fgcolor);
    background-color: var(--dark-bgcolor);
    transition-duration: 200ms;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}
button:hover {
    cursor: pointer;
}
button:active {
    color: var(--tert-fgcolor);
    // background-color: var(--sec-bgcolor);
    transform: scale(0.95);
}
div {
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
}
div.horz-layout {
    display: flex;
    flex-direction: row;
}
div.vert-layout {
    display: flex;
    flex-direction: column;
}
div.horz-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
div.vert-scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
div.card {
    padding: 20px;
    border-radius: 10px;
}
